@import 'https://fonts.googleapis.com/css?family=Roboto+Mono:100';

html,
body {
    font-family: 'Roboto Mono', monospace;
    background: #222222;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
}

.text {
    font-weight: 100;
    font-size: 28px;
    color: #fafafa;
}
