.container {
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.heading {
  color: #fff;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}

.projects {
  padding: 3rem calc((100vw - 1200px - 0.5rem) / 2);
}

.project {
  display: flex;
  margin: 3rem 1rem;

  .details {
    flex-basis: 70%;
    color: #fff;
    padding: 0rem 2rem;

    h1 {
      margin: 0;
    }
  }

  .image {
    flex-basis: 30%;
    height: 10rem;
  }

  @media (max-width: 1000px) {
    display: block;
  }
}

.icons {
  display: flex;
  margin: 1rem 0;
}

.icon {
  width: 2rem;
  margin: 0 0.3rem;
}
