.container {
  display: flex;
  padding: 1.5rem calc((100vw - 1200px - 0.5rem) / 2);
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: #111111aa;
  backdrop-filter: blur(1rem);

  @media (max-width: 768px) {
    display: block;
    padding: 1.5rem 2rem;

    .brand {
      margin-bottom: 1.2rem;
      padding-left: 0;
    }

    .nav {
      padding-right: 0;
    }
  }
}

.brand {
  font-size: 2rem;
  font-weight: 600;
  padding-left: 2rem;
  // opacity: 0;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.nav {
  padding-right: 2rem;
  line-height: 2rem;
}

.link {
  margin: 0 0.5rem 0 0;
  padding: 0.25rem 0.5rem;

  text-decoration: none;
  color: #fff;

  &:hover {
    text-decoration: line-through;
  }
}

.active {
  border-bottom: 2px solid #fff;
  font-weight: 600;

  &:hover {
    text-decoration: none;
    cursor: default;
  }
}
